body{
    position: relative;
}

.display{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    text-align: center;
    background-color: rgb(0, 0, 0);
    border-top: 1px solid white;
    cursor: pointer;
}